header {
    width: 100%;
    background-color: #9b84bb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 700px;
    border-radius: 50px;
    transition: opacity 0.5s ease-in;
}
body {
    font-family: 'Inter';font-size: 22px;
    text-align: center;
    min-height: 100px;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #121212;
}
footer {
    background: rgb(0, 0, 0);
    color: antiquewhite;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 12px;
}
#cycling-text {
    display: inline-block;
    width: 500px;
    height: 30px;
    transition: opacity 0.3s ease-in-out;
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 20px;
}
.profile {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
}
.profile-pic {
    width: 200px; /* Adjust size as needed */
    height: 200px;
    border-radius: 50%; /* Makes it circular */
    object-fit: cover;
    position: absolute;
    left: -40px; /* Adjust negative value to control overlap */
    top: 50%;
    transform: translateY(-50%); /* Centers the image vertically */
    border: 3px solid white; /* Optional: adds a border for separation */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional: adds shadow */
}
.name-box {
    padding: 10px 100px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    z-index: 1;
    min-width: 200px;
    text-align: center;
}